{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="content">
				<header>
					<a href="{% url 'home'%}"><img class="header-back" src="{% static 'images/back.svg' %}"></a>
					<h1>Tweet</h1>
				</header>
				<main>
					<!-- Sample Tweet 1 -->
					<div class="tweet">
						<div class="tweet-icon">
							<img src="{% static 'images/post-default-icon.svg' %}">
						</div>
						<div class="tweet-content">
							<div class="tweet-name-area">
								<span class="tweet-name">{{tweet.name}}</span>
								<span class="tweet-created-at">{{tweet.created_at}}</span>
							</div>
							<p>{{tweet.text}}</p>
							<img class="tweet-image" src="">
						</div>
					</div>
					<div class="tweet-detail-bottom">
						<div class="tweet-detail-reply">{{count}}<span> Replies</span></div>
						<div class="tweet-detail-like">22 <span>Likes</span></div>
					</div>
					<!-- Sample Reply Tweet 1 -->

<!--	for key,tweetcomment in enumerate(alltweetComment):-->
					{% for tweet in replies %}
					<div class="tweet">
						<div class="tweet-icon">
							<img src="{% static 'images/post-default-icon.svg' %}">
					 	</div>
						<div class="tweet-content">
							<div class="tweet-name-area">
								<span class="tweet-name">{{tweet.name}}</span>
								<span class="tweet-created-at">{{tweet.created_at}}</span>
							</div>
							<p>{{tweet.text}}</p>
						</div>
					</div>
					{% endfor %}

					</main>
				</div>

{% endblock %}